@import 'codemirror/lib/codemirror.css';
@import 'codemirror/theme/3024-day.css';
@import 'codemirror/theme/3024-night.css';
@import 'codemirror/theme/abcdef.css';
@import 'codemirror/theme/ambiance.css';
@import 'codemirror/theme/base16-dark.css';
@import 'codemirror/theme/base16-light.css';
@import 'codemirror/theme/bespin.css';
@import 'codemirror/theme/blackboard.css';
@import 'codemirror/theme/cobalt.css';
@import 'codemirror/theme/colorforth.css';
@import 'codemirror/theme/dracula.css';
@import 'codemirror/theme/duotone-dark.css';
@import 'codemirror/theme/duotone-light.css';
@import 'codemirror/theme/eclipse.css';
@import 'codemirror/theme/elegant.css';
@import 'codemirror/theme/erlang-dark.css';
@import 'codemirror/theme/hopscotch.css';
@import 'codemirror/theme/icecoder.css';
@import 'codemirror/theme/isotope.css';
@import 'codemirror/theme/lesser-dark.css';
@import 'codemirror/theme/liquibyte.css';
@import 'codemirror/theme/material.css';
@import 'codemirror/theme/mbo.css';
@import 'codemirror/theme/mdn-like.css';
@import 'codemirror/theme/midnight.css';
@import 'codemirror/theme/monokai.css';
@import 'codemirror/theme/neat.css';
@import 'codemirror/theme/neo.css';
@import 'codemirror/theme/night.css';
@import 'codemirror/theme/panda-syntax.css';
@import 'codemirror/theme/paraiso-dark.css';
@import 'codemirror/theme/paraiso-light.css';
@import 'codemirror/theme/pastel-on-dark.css';
@import 'codemirror/theme/railscasts.css';
@import 'codemirror/theme/rubyblue.css';
@import 'codemirror/theme/seti.css';
@import 'codemirror/theme/solarized.css';
@import 'codemirror/theme/the-matrix.css';
@import 'codemirror/theme/tomorrow-night-bright.css';
@import 'codemirror/theme/tomorrow-night-eighties.css';
@import 'codemirror/theme/ttcn.css';
@import 'codemirror/theme/twilight.css';
@import 'codemirror/theme/vibrant-ink.css';
@import 'codemirror/theme/xq-dark.css';
@import 'codemirror/theme/xq-light.css';
@import 'codemirror/theme/yeti.css';
@import 'codemirror/theme/zenburn.css';
@import 'codemirror/theme/material.css';
@import 'codemirror/addon/fold/foldgutter.css';
@import 'codemirror/addon/display/fullscreen.css';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

.ide {
    text-align: left;
    flex-grow: 1;
    width: 100%;
}
.header{
    width: 100%;
    height: 7vh;
    background-color: #212121;
    /* border-top-left-radius: 5px; */
    /* border-top-right-radius: 5px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heading{
    color: #eeeeed;
    font-family: 'Quicksand', sans-serif;
    padding-left: 3%;
}
#language-select{
    color: #eeeeed;
    width: 20vw;
}
#select-theme{
    color: #eeeeed !important;
    width: 10vw;
    height: 50%;
}
#select-language{
    color: #eeeeed !important;
    width: 10vw;
    height: 50%;
}
.MuiSelect-icon{
    color: #eeeeed !important;
}
.MuiSelect-nativeInput{
    opacity: 1 !important;
    color: #eeeeed;
    border: none;
    background-color: transparent;
    font-family: 'Quicksand', sans-serif;
    font-size: large;
}
.MuiFormLabel-root{
    color: #eeeeed !important;
}
.MuiFormLabel-root.Mui-focused{
    color: #3f51b5 !important;
}
.CodeMirror{
    height: 93vh;
    /* width: 90vw; */
    /* border-bottom-left-radius: 3.5px; */
    /* border-bottom-right-radius: 3.5px; */
    font-family: 'Quicksand', sans-serif;
    font-size: medium;
}
.MuiFab-root{
    position: absolute !important;
    bottom: 10%;
    right: 8%;
}
.sidebar{
    position: absolute !important;
    height: 83vh;
    width: 30%;
    top: 11.8vh !important;
    right: 5vw !important;
    border-bottom-right-radius: 3.5px;
}
.close{
    color: #3f51b5;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}
.output-formatting{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}
.input-field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.CodeMirror-hints{
    background-color: white;
    list-style: none;
    margin-left: 0; 
    cursor: pointer;
    position: absolute;
}
.MuiButton-textSecondary:hover {
  background-color: rgba(76, 175, 80, 0.04) !important;
}
